.add-services {
  padding: 70px 0;
  background-image: url("../img/bg/pattern3.svg");
  background-repeat: repeat;
}
.add-services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}
