.main-choose {
  padding: 60px 0;
  background-image: url("../img/bg/pattern1.svg");
  background-repeat: repeat;
  color: #000000;

  .title--two {
    margin-bottom: 15px;
  }

  .subtitle {
    margin-bottom: 65px;
  }
}

.main-interior__slider {
  position: relative;
  overflow: hidden;
}

.main-interior__image img {
  width: 100%;
  object-fit: cover;
}
