.main-portfolio {
  padding: 60px 0 65px;
  background-image: url("../img/bg/pattern2.svg");
  background-repeat: repeat;
}
.main-portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}
