.main-footer {
  background-color: #0040AD;
  color: #ffffff;
  padding: 40px 0;
}

.first-widget {
  max-width: 225px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo__image {
  display: block;
  margin-bottom: 10px;
}

.footer-logo__text {
  margin-top: 0;
  font-size: 12px;
  line-height: 120%;
}
