.strengths {
  padding: 70px 0 85px;
}
.strengths__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 35px 30px;
  grid-template-columns: auto auto auto;
  @media (max-width: 850px) {
    grid-template-columns: auto auto;
  }
  @media (max-width: 600px) {
    grid-template-columns: auto;
  }
}
.strengths__item {
}
.strengths__title {
}
.strengths__text {
}
.strengths__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  li {
    margin-bottom: 10px;
  }
}
