.buttons-wrapper {
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: auto auto;
  flex-wrap: wrap;

  @media (max-width: 500px) {
    grid-template-columns: auto;
  }

  .button {
    @media (max-width: 500px) {
      max-width: max-content;
      margin: 0 auto;
    }
  }
}
