.portfolio-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
  align-items: flex-start;

  @media (max-width: 1400px) {
    gap: 40px;
  }

  @media (max-width: 970px) {
    grid-template-columns: auto;
    gap: 20px;
  }

  /* слайдер */
  .portfolio-card__slider {
    max-width: 540px;
    width: 100%;
  }

  .portfolio-card__image {
    max-width: 540px;
    img {
      width: 100%;
      object-fit: cover;
      display: block;
      @media (max-width: 400px) {
          max-height: 300px;
        }
    }
  }

  /* описание */
  .portfolio-card__details {
    position: relative;
    z-index: 2;
    @media (max-width: 1400px) {
      max-width: 540px;
      width: 100%;
      margin: 0 auto;
    }
    .adress {
      margin: 0;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 140%;
      color: #000000;

      @media (max-width: 400px) {
        margin-bottom: 5px;
      }
    }
    .price {
      font-weight: 800;
      font-size: 30px;
      line-height: 140%;
      color: #000000;
      margin: 0;
      margin-bottom: 20px;
      display: inline-block;

      @media (max-width: 400px) {
        margin-bottom: 5px;
        font-size: 26px;
      }
    }

    .table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 120%;

      td {
        padding-bottom: 10px;
        padding-right: 30px;

        @media (max-width: 400px) {
          padding-right: 10px;
          border-bottom: 1px solid;
          padding-bottom: 5px;
        }

        &:last-child {
          font-weight: 700;
        }
      }

      th {
        padding-bottom: 10px;
        padding-right: 30px;
        font-size: 12px;

        @media (max-width: 400px) {
          border-bottom: 1px solid;
          padding-bottom: 5px;
          padding-right: 10px;
        }
      }
    }
  }

  /* стрелки */
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    color: #ff3636;
    background-color: #ffffff75;
    padding: 17px;
  }
}
