.title {
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 110%;
  color: #000000;
  margin: 0;
  display: block;
  font-family: "montserrat-sw", sans-serif;
  background-color: #fff;
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 20px;
}
