/* обёртки */
.wrapper {
  max-width: 1390px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  padding-left: 45px;
  padding-right: 45px;

  @media (max-width: 1200px) {
    max-width: 1190px;
  }

  @media (max-width: 992px) {
    max-width: 960px;
  }

  @media (max-width: 576px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
